.borrowMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  padding-top: 5vh;
  color: rgb(255, 255, 255);
}
.container {
  margin-top: 7vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
  width: 35vw;
  color: white;
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: 20px;
  /* margin-left: 30vw; */
}

.container input {
  margin: 2vh;
  font-size: 20px;
  padding: 10px 0;
  padding-right: 15vh;
  border-radius: 7px;
  border: none;
}

/* ::placeholder {
  color: #000000;
} */
.container button {
  font-family: arial;
  color: #000000 !important;
  font-size: 20px;
  text-shadow: 0px 0px 0px #7cacde;
  padding: 10px 25px;
  border-radius: 14px;
  border: 0px solid #3866a3;
  background: #00cf0e;
  margin-top: 5vh;
}
.container button:hover {
  color: 00000 !important;
  background: #04ac31;
}
