* {
  margin: 0;
  padding: 0;
}
.showReq-header {
  display: flex;
  padding-top: 5vh;
}
.showReq-header h1 {
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}
.showReq-header button {
  margin-left: 2vh;
  color: rgba(6, 255, 6, 0.986) !important;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px 25px;
  border: 0px solid #3866a3;
  background: transparent;
}
.showReq-header button:hover {
  color: #ffffff !important;
  background: #034e09;
}
.showReq-main {
  margin-top: 7vh;
  margin-right: 5vw;
  margin-left: 5vw;
  background-color: rgba(0, 0, 0, 0.438);
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.showReq-main .elementDetail {
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 2vh;
  font-size: 25px;
  border: solid 1px white;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.elementDetail ul {
  margin-top: 10px;
}
.showReq-main p {
  font-size: 28px;
}

.showReq-container .showReqFooterBtn {
  display: flex;
  justify-content: space-around;
  margin-top: 7vh;
  margin-bottom: 5vh;
}

.showReqFooterBtn .raisedReqBTN {
  font-family: arial;
  color: #ffffff !important;
  font-size: 25px;
  text-shadow: 0px 0px 0px #7cacde;
  padding: 10px 25px;
  border-radius: 25px;
  border: 0px solid #3866a3;
  background: #138c13;
}
.showReqFooterBtn .raisedReqBTN:hover {
  color: black !important;
  background: #0fff28;
}

.showReqFooterBtn .logOutBtn {
  font-family: arial;
  color: #ffffff !important;
  font-size: 25px;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  background: #880219;
}
.showReqFooterBtn .logOutBtn:hover {
  color: black !important;
  background: #f12035;
}
@media screen and (max-width: 1000px) {
  .showReq-main {
    margin-top: 7vh;
    margin-right: 10vw;
    margin-left: 10vw;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
    border-radius: 18px;
  }
}
@media screen and (max-width: 700px) {
  .showReq-main {
    margin-top: 7vh;
    margin-right: 10vw;
    margin-left: 10vw;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
    border-radius: 18px;
  }
  .showReq-container .showReqFooterBtn {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 7vh;
  }
  .showReq-container .showReqFooterBtn .logOutBtn {
    margin-top: 2vh;
  }
}
