* {
  margin: 0;
  padding: 0;
}
.sign-main {
  display: flex;
  color: white;
  justify-content: space-around;
}
.sign-details {
  margin-top: 30vh;
}
.sign-details h1 {
  font-size: 62px;
}
.sign-details p {
  font-size: 20px;
}
.sign-container {
  padding-top: 5vh;
  padding-bottom: 10vh;
  padding-right: 3vw;
  padding-left: 3vw;
  width: auto;
  background-color: rgba(0, 0, 0, 0.726);
  border-radius: 20px;
  margin-top: 10vh;
}
.sign-container input {
  margin: 2vh;
  font-size: 20px;
  padding: 1vh;
  border-radius: 7px;
}

.sign-container .sendOtp {
  font-family: arial;
  color: #000000 !important;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 0px solid #3c6eaf;
  background: #6bda55;
}
.sign-container .sendOtp:hover {
  color: #020f05 !important;
  background: #31df0e;
}
.sign-container p {
  margin-top: 1vh;
}
.sign-container .registration {
  font-family: arial;
  color: #ffffff !important;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 25px;
  background: #f21127;
  margin-top: 5vh;
}
.sign-container .registration:hover {
  color: fffff !important;
  background: #ad0e28;
}

@media screen and (max-width: 600px) {
  .sign-main {
    display: flex;
    color: white;
    flex-direction: column;
  }
  .sign-details {
    margin-top: 3vh;
  }
  .sign-details h1 {
    font-size: 30px;
  }
  .sign-details p {
    font-size: 18px;
  }

  .sign-container {
    padding-top: 3vh;
    padding-bottom: 7vh;
    padding-right: 2vw;
    padding-left: 2vw;
    width: auto;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vh;
  }

  .sign-container input {
    margin: 2vh;
    font-size: 15px;
    border-radius: 7px;
  }
}
